<main>
    {{#if hasProducts }}
    <div class="grid">
    {{#each prods}}
        <article class="card product-item">
            <header class="card__header">
                <h1 class="product__title">{{this.title}}</h1>
            </header>
            <div class="card__image">
                <img src="https://www.drawingnow.com/file/videos/steps/119657/how-to-draw-an-open-book-step-7.jpg" alt="">
            </div>
            <div class="card__content">
                <h2 class="product__price"> $19.99 </h2>
                <p class="product__description">An interesting book</p>
            </div>
            <div class="card__actions">
                <button class="btn">Add to cart</button>
            </div>
        </article>
        {{/each}}
    </div>
    {{ else }}
        <h1>No Products Found!</h1>
    {{/if}}
</main>