<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>404</h1>
        <h2>Page not found</h2>
    </main>
</body>
<%- include('includes/end.ejs') %>