<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <!-- CONTENT -->
</body>
<%- include('../includes/end.ejs') %>